body {
    font-family: Helvetica;
}
h1{
    font-size: 80px;
    color: #EDF2F4;
}
h2{
    font-size: 40px;
    color: #EDF2F4;
}
html body{
    padding: 30px;
}
a{
    color: #EF233C;
}
header{
    color: #8D99AE;
    background-color: #2B2D42;
    padding: 100px 100px 10px 100px;
    margin: -115px -100px -10px -100px;
}
footer{
    color: #8D99AE;
    background-color: #2B2D42;
    padding: 10px 100px 10px 100px;
    margin: -10px -100px -100px -100px;
}
.education{
    background-color: #8D99AE;
    padding: 10px 100px 50px 100px;
    margin: 15px -100px 15px -100px
}