h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.5em;
}
h1{
    font-size: 1.4em;
}
h1, h2, h3{
    font-family: "Arial", sans-serif;
}

p1{
    font-size: 1.2em;
    font-family: "Times New Roman", sans-serif;
    color: red;
}

p2{
    font-size: 1.2em;
    font-family: "Times New Roman", sans-serif;
    color: green;
}

p3{
    font-size: 1.2em;
    font-family: "Times New Roman", sans-serif;
    color: blue;
}